footer {
	width: 100%;
	background-color: $white;
	.wrapper {
		display: flex;
		flex-flow: row wrap;
		// margin: 20px;
		justify-content: space-between;	
		.footerLeft {
			flex: 1 0 50%;
			margin-top: 18px;
			p {
				margin: 0;
			}
			a {
				text-decoration: none;
				color: $red;
				&:hover, &:focus {
					color: $blue;
				}
			}
		}
		.footerRight {
			flex: 1 0 50%;
			text-align: right;
			img {
				height: 40px;
				margin-top: 20px;
			}
		}
	}
}

//******************************
//Media Queries Styles
//******************************

// Landscape phone to portrait table-layout
@media (max-width: 940px) {
	footer {
		.wrapper {
			.footerLeft {
				margin-left: 20px;
				flex: 1 0 calc(50% - 40px);
			}
			.footerRight {
				margin-right: 20px;
				flex: 1 0 calc(50% - 40px);
			}
		}
	}
}

// Landscape phones and down
@media (max-width: 767px) {
	footer {
		.wrapper {
			flex-direction: column;
			.footerLeft {
				margin-left: 20px;
				flex: 1 0 calc(100% - 40px);
				text-align: center;
			}
			.footerRight {
				flex: 1 0 calc(100% - 40px);
				margin: 0 auto;
			}
		}
	}
}

//Portrait phones and down
@media (max-width: 480px) {
	
}