header {
	width: 70%;
	display: flex;
	flex-flow: row wrap;
	margin: 3rem auto 2rem;
	align-items: flex-end;

	.imgFlex {
		flex: 1 0 calc(30% - 2rem);
		padding: 2rem 2rem 0;
		margin-right: 2rem;

		img {
			width: 90%;
			margin: 0 15%;
			display: block;
		}
	}

	div.flex {
		flex: 1 0 70%;
		margin: 0;

		h2 {
			margin-bottom: 0;
		}
	}
}