header {
	width: 70%;
	display: flex;
	flex-flow: row wrap;
	margin: 48px auto 32px;
	align-items: flex-end;

	h1 {
		color: $white;
		letter-spacing: 0.5rem;
	}

	.imgFlex {
		flex: 1 0 18%;
		padding: 32px 32px 0;
		margin-right: 10px;

		img {
			width: 120px;
			margin: 0 10%;
			display: block;
		}
	}

	div.flex {
		flex: 1 0 70%;
		margin: 0;

		h2 {
			margin-bottom: 0;
			color: $white;
		}
	}
}

//******************************
//Media Queries Styles
//******************************

// Landscape phone to portrait table-layout
@media (max-width: 990px) {
	header {
		text-align: center;
		.imgFlex {
			flex: 1 0 calc(100% - 25px);
			padding-top: 0;
			margin: 0 auto;

			img {
				margin: 0 auto;
			}
		}

		div.flex {
			flex: 1 0 100%;
		}
	}
}

// Landscape phones and down

//Portrait phones and down
@media (max-width: 480px) {
	h1 {
	  font-size: 2.5rem;
	}

	h2 {
	  font-size: 1.3rem;
	}
}
