.results {
	display: flex;
	flex-flow: row wrap;
	background: #000;
	margin: 0;
	
	.songInfo {
		flex: 1 0 33%;
		border: 1px solid black;
		text-align: center;
		color: $white;
		h4 {
			font-style: italic;
		}
	}
	.blue {
		background-color: $resultsBlue;
	}
	.yellow {
		background-color: $resultsYellow;
	}
	.red {
		background-color: $resultsRed;
	}
}