.finalResult {
	display: flex;
	flex-flow: row wrap;
	background: #000;


	.results {
		display: flex;
		flex-flow: row wrap;
		background: #000;
		margin: 0;
		font-family: "Lato";
		flex: 1 0 70%;

		.songInfo {
			flex: 1 0 calc(33.3% - 40px);
			border: 1px solid black;
			text-align: center;
			background: $white;
			color: $white;
			margin: 20px;
			border-radius: 0 20px 0 20px;


			h3 {
				padding: 0.5rem;
			}
			
			.songTitle {
			display: flex;
			position: relative;
			border-radius: 0 20px 0 0;


			img {
				width: 80px;
				padding: 1rem;
				height: 100%;
				margin: 0 0 0 1rem;

				}

			h4 {
				flex: 1 0 70%;
				text-align: left;
				margin: 0;
				padding: 0.5rem;
	  			position: absolute;
	  			top: 50%;
	  			transform: translateY(-50%);
	  			font-family: "Oswald";
			}
		}

			
			// h4 {
			// 	font-style: italic;
			// }
		}
		.blue {
			background: linear-gradient(to right,rgba(1,111,185,1), rgba(1,111,185,0.8));
		}
		.blueTypo {
			color: $blue;
		}
		.yellow {
			background: linear-gradient(to right,rgba(255,149,5,1), rgba(255,149,5,0.8));;
		}
		.yellowTypo {
			color: $yellow;
		}
		.red {
			background: linear-gradient(to right,rgba(236,78,32, 1), rgba(236,78,32, 0.8));
		}
		.redTypo {
			color: $red;
		}
	}
	.playlistResult {
		position: relative;
		flex: 1 0 29%;
		.playlist {
			flex: 1 100%;

			iframe {
				width:100%; 
				min-height:455px;
			}
		}	
	}

	 .fixed {
    	width: 29%;
    	position: fixed;
    	right: 10px;
    	top: 8px;
    	right: 2px;
    	z-index: 100;
	}
	
	
	.hidden {
		display: none;
	}

	.backToTop {
	  position: fixed;
	  bottom: 0;
	  right: 0;
	  display: inline-block;  
	  padding: 1em;
	  margin: 1em;
	  background: #E8E8E8;
	  border: 2px solid #000;
	}
	.backToTop:hover {
	  cursor: pointer;
	}
	
	i.fa {
		position: absolute;
		color: $white;
		z-index: 5;
		margin-right: 20px;
		margin-bottom: 20px;
		font-size: 50px;
		bottom: 0;
		right:0;
	}
}

//******************************
//Media Queries Styles
//******************************

// Landscape phone to portrait table-layout
@media (max-width: 940px) {
	.finalResult {
		.results {
			.songInfo {
				flex: 1 0 50%;
			}
		}
	}
}

// Landscape phones and down
@media (max-width: 767px) {
	.finalResult {
		display: block;
	}
}

//Portrait phones and down
@media (max-width: 480px) {
	.finalResult {
		.results {
			.songInfo {
				flex: 1 0 100%;
			}
		}
	}
}
