.finalResult {
	display: flex;
	flex-flow: row wrap;
	background: #000;
	display: relative;
	
	.results {
		display: flex;
		flex-flow: row wrap;
		background: #000;
		margin: 0;
		font-family: "Lato";
		flex: 1 0 70%;

		.songInfo {
			flex: 1 0 calc(50% - 20px);
			border: 1px solid black;
			text-align: center;
			background: $white;
			color: $white;
			margin: 15px 10px;
			// border-radius: 0 20px 0 20px;
			display: flex;


			h3 {
				padding: 0.5rem;
				flex: 1 0 55%;
			}
			
			.songTitle {
			display: flex;
			position: relative;
			// border-radius: 0 20px 0 0;
			flex: 1 0 45%;

				img {
					width: 80px;
					padding: 1rem;
					height: 100%;
					margin: 0;
				}

				h4 {
					text-align: left;
					margin: 0;
					padding: 0.5rem;
		  			position: absolute;
		  			font-family: "Oswald";
		  			top: 50%;
		  			transform: translateY(-50%);
				}
			}
		}

		.blue {
			background: linear-gradient(to right,rgba(1,111,185,1), rgba(1,111,185,0.8));
		}

		.blueTypo {
			color: $blue;
		}

		.yellow {
			background: linear-gradient(to right,rgba(255,149,5,1), rgba(255,149,5,0.8));;
		}

		.yellowTypo {
			color: $yellow;
		}

		.red {
			background: linear-gradient(to right,rgba(236,78,32, 1), rgba(236,78,32, 0.8));
		}

		.redTypo {
			color: $red;
		}
	}
	
	.playlistResult {
		position: relative;
		flex: 1 0 29%;

		.playlist {
			flex: 1 100%;

			iframe {
				width:100%; 
				min-height:455px;
			}
		}	
	}

	 .fixed {
    	width: 29%;
    	position: fixed;
    	right: 10px;
    	top: 8px;
    	right: 2px;
    	z-index: 100;
	}
	
	.hidden {
		display: none;
	}

	.backToTop {
	  display: inline-block;  
	  padding: 1em;
	  margin: 1em;
	  background: #E8E8E8;
	}

	.backToTop:hover {
	  cursor: pointer;
	}
	
	i.fa {
		position: relative;
	    z-index: 100;
	    font-size: 50px;
	    color: $white;
	    margin: 1rem 2rem;
	}
}

//******************************
//Media Queries Styles
//******************************

// Landscape phone to portrait table-layout
@media (max-width: 1000px) {
	.finalResult {
		.results {
			.songInfo {
				flex: 1 0 calc(100% - 20px);
			}
		}
	}
}

// Landscape phones and down
@media (max-width: 767px) {
	.finalResult {
		display: block;
	}

	.playlistResult {
		position: relative;
		width: 60%;
		margin: 0 auto;

		.playlist {
			flex: 1 0 100%;

			iframe {
				width:100%; 
				min-height:0;
			}
		}	
	}
	.fixed {
    	width: 70%;
    	height: 0%;
    	position: relative;
	}
}

//Portrait phones and down
@media (max-width: 480px) {
	.finalResult {
		.results {
			.songInfo {
				flex: 1 0 100%;
			}
		}
	}
}
