.results {
	display: flex;
	flex-flow: row wrap;
	background: #000;
	margin: 0;
	
	.songInfo {
		flex: 1 0 33%;
		border: 1px solid black;
		text-align: center;
		color: $white;
		background: $white;
		.songTitle {
		display: flex;

		img, h3 {
			flex: 1 0 50%;
		}
	}

		
		h4 {
			font-style: italic;
		}
	}
	.blue {
		background: linear-gradient(to right, rgba(1,111,185,0.8),rgba(1,111,185,1));
	}
	.blueTypo {
		color: $blue;
	}
	.yellow {
		background-color: $resultsYellow;
	}
	.yellowTypo {
		color: $yellow;
	}
	.red {
		background-color: $resultsRed;
	}
	.redTypo {
		color: $red;
	}
}

.playlist {
	flex: 1 100%;

	iframe {
		width:100%; 
		min-height:800px;
	}
}