.userinput {
	text-align: center;
	color: #fff;

	fieldset {
		border: none;
	}

	input, input:focus, input:active, ::-webkit-input-placeholder, summary:focus, summary:active {
		outline: none;
	}

	input[type=text], input[type=submit] {
		padding: 1.5rem 2rem;
		border-radius: 100px;
		border: 2px solid transparent;
		width: 40%;
		margin: 3rem;
		background-color: $white;
	}

	input:-webkit-autofill {
	-webkit-box-shadow: 0 0 0px 1000px $white inset;
	border: 1px solid $white;
}
	

	input[type="radio"] {
		visibility: hidden;
		position: absolute;
		}

	label {
		display: inline-block;
		width: 14%;
		font-family: "Oswald";
		text-transform: uppercase;
		position: relative;
		margin-top: 30px;
		color: $white;

		&::before {
			content: '';
			display: inline-block;
			width: 15px;
			height: 15px;
			position: absolute;
			left: 50px;
			top: -42px;
			border-radius: 50%;
			z-index: 5;
			}
		}
		
		label[for=low]::before {
			border: 10px solid $blue;
		}
	
		label[for=low]:hover::before {
			border: 10px solid $white;
		}

		label[for=medium]::before  {
			border: 10px solid $yellow;
		}

		label[for=medium]:hover::before {
			border: 10px solid $white;
		}

		label[for=hard]::before  {
			border: 10px solid $red;
		}

		label[for=hard]:hover::before {
			border: 10px solid $white;
		}
		
		/* specific heights */
		details {
		padding: 15px 0 15px;
		max-width: 300px;
		margin: 0 auto;
		transition: 1s all ease;
		transition: height 1s ease;
		}

		details summary {
			opacity: .8;
			padding: 10px;
			border-radius: 10px;
			background-color: rgba(0,0,0,.7);
			&:hover {
				opacity: 1;
			}
		}

		details:not([open]) { height: 1.25em; }
		details[open] { height: 9.50em; }

		/* specific animation */
		/* http://daneden.me/animate/ */
		// @keyframes fadeInDown {
		// 	0% {
		// 		opacity: 0;
		// 		transform: translateY(-1.25em);
		// 	}
		// 	50% {
		// 		opacity: 1;
		// 		transform: translateY(0);
		// 	}
		// }

		summary::-webkit-details-marker {
			display: none;
		}

		details summary::before {
			content:'+';
			float: left;
			padding: 0 12px;
		}

		details[open] summary::before {
			content: '-'
		}

	.selected {
		&::after {
			content: '';
			display: inline-block;
			width: 15px;
			height: 15px;
			position: absolute;
			left: 50px;
			top: -42px;
			// border: 10px solid blue;
			background: $white;
			border-radius: 50%;
			z-index: 10;
			}
		}

		label[for=low].selected::after {
			border: 10px solid $blue;
		}
	
		label[for=medium].selected::after  {
			border: 10px solid $yellow;
		}

		label[for=hard].selected::after  {
			border: 10px solid $red;
		}
	

	input[type=radio] {
		display: block;
		margin: 0.5rem auto;
	}

	input[type=submit] {
		background: rgba(0,0,0,.3);
		border: 3px solid $white;
		color: $white;
		transition: .5s all ease;
		&:hover {
			background-color: white;
			color: $blue;
			border: 3px solid $blue;
		}
		&:active {
		transition: 0.5s;
   		width: 110px; 
		}
	}
}