.userinput {
	text-align: center;
	color: #fff;

	fieldset {
		border: none;
	}

	input, input:focus, input:active, ::-webkit-input-placeholder {
		outline: none;
	}

	input[type=text], input[type=submit] {
		padding: 1.5rem 2rem;
		border-radius: 100px;
		border: 2px solid transparent;
		width: 40%;
		margin: 3rem;
	}

	input[type="radio"] {
		visibility: hidden;
		position: absolute;
		}

	label {
		display: inline-block;
		width: 14%;
		font-family: "Oswald";
		text-transform: uppercase;
		position: relative;
		margin-top: 30px;

		&::before {
			content: '';
			display: inline-block;
			width: 15px;
			height: 15px;
			position: absolute;
			left: 50px;
			top: -42px;
			border: 10px solid blue;
			border-radius: 50%;
			z-index: 5;
		}
	}
	.selected {
		&::after {
			content: '';
			display: inline-block;
			width: 15px;
			height: 15px;
			position: absolute;
			left: 50px;
			top: -42px;
			border: 10px solid blue;
			background: beige;
			border-radius: 50%;
			z-index: 10;
		}
	}

	input[type=radio] {
		display: block;
		margin: 0.5rem auto;
	}
	input[type=submit] {
		background: $blue;
		color: #fff;

	}


}