.userinput {
	text-align: center;
	color: #fff;

	fieldset {
		border: none;
	}

	input, input:focus, input:active, ::-webkit-input-placeholder, a {
		outline: none;
	}

	input[type=text], input[type=submit] {
		padding: 1.5rem 2rem;
		border-radius: 100px;
		border: 2px solid transparent;
		width: 40%;
		margin: 3rem;
		background-color: $white;
	}

	input:-webkit-autofill {
	-webkit-box-shadow: 0 0 0px 1000px $white inset;
	border: 1px solid $white;
	}

	input[type="radio"] {
		visibility: hidden;
		position: absolute;
		}

	label {
		display: inline-block;
		width: 14%;
		font-family: "Oswald";
		text-transform: uppercase;
		position: relative;
		margin-top: 30px;
		color: $white;

		&::before {
			content: '';
			display: inline-block;
			width: 15px;
			height: 15px;
			position: absolute;
			left: 50px;
			top: -42px;
			border-radius: 50%;
			z-index: 5;
			}
		}
		
		label[for=low]::before {
			border: 10px solid $blue;
		}
	
		label[for=medium]::before  {
			border: 10px solid $yellow;
		}


		label[for=hard]::before  {
			border: 10px solid $red;
		}

		label[for=hard]:hover::before {
			border: 10px solid $white;
		}

		label[for=hard]::before  {
			border: 10px solid $red;
		}
	
	.selected {
		&::after {
			content: '';
			display: inline-block;
			width: 15px;
			height: 15px;
			position: absolute;
			left: 50px;
			top: -42px;
			border: 10px solid blue;
			background: $white;
			border-radius: 50%;
			z-index: 10;
			}
		}

		label[for=low].selected::after {
			border: 10px solid $blue;
		}
	
		label[for=medium].selected::after  {
			border: 10px solid $yellow;
		}

		label[for=hard].selected::after  {
			border: 10px solid $red;
		}
	

	input[type=radio] {
		display: block;
		margin: 0.5rem auto;
	}
	
	.toggle {
		margin: 0 auto;
		padding-top: 10px;
	}
	
	a#moreInfo {
		text-decoration: none;
		// font-weight: bold;
		color: $white;
		&:visited {
			color:$white;
		}
	}

	#moreInfo {
		max-width:100px
	}

	#moreInfo::before {
		content:"+";
		padding:10px 10px 0;
		&:hover {
			opacity: .8;
		}
	}

	#moreInfo:active::before {
		padding:10px 10px 0;
		opacity:1;
	}

	div.toggleDiv {
		display: none;
		margin: 0 auto;
		max-width: 400px;
		padding:10px;
		background-color: rgba(0,0,0,.4);
		p.blue {
			color:$blue;
		}
		p.yellow {
			color: $yellow;
		}
		p.red {
			color: $red;
		}
	}

	input[type=submit] {
		background: rgba(0,0,0,.3);
		border: 3px solid $white;
		color: $white;
		transition: .5s all ease;
		&:hover {
			background-color: white;
			color: $blue;
			border: 3px solid $blue;
		}
		&:active {
		transition: 0.5s;
   		width: 110px; 
		}
	}
}

//******************************
//Media Queries Styles
//******************************

@media (max-width: 1044px) {

	.userinput label::before {
		left: 44px;
	}
	.userinput .selected {
		&::after {
			left: 44px;
		}
	}
}


@media (max-width: 1043px) {
	.userinput label::before {
		left: 49px;
	}
	.userinput .selected {
		&::after {
			left: 49px;
		}
	}
}

@media (max-width: 1005px) {
	.userinput label::before {
		left: 47px;
	}
	.userinput .selected {
		&::after {
			left: 47px;
		}
	}
}

@media (max-width: 944px) {
	.userinput label::before {
		left: 43px;
	}
	.userinput .selected {
		&::after {
			left: 43px;
		}
	}
}

@media (max-width: 884px) {
	.userinput label::before {
		left: 38px;
	}
	.userinput .selected {
		&::after {
			left: 38px;
		}
	}
}

@media (max-width: 845px) {
	.userinput label::before {
		left: 36px;
	}
	.userinput .selected {
		&::after {
			left: 36px;
		}
	}
}

@media (max-width: 845px) {
	.userinput label::before {
		left: 34px;
	}
	.userinput .selected {
		&::after {
			left: 34px;
		}
	}
}

@media (max-width: 768px) {
	.userinput label::before {
		left: 30px;
	}
	.userinput .selected {
		&::after {
			left: 30px;
		}
	}
}

@media (max-width: 685px) {
	.userinput label::before {
		left: 26px;
	}
	.userinput .selected {
		&::after {
			left: 26px;
		}
	}
}

@media (max-width: 650px) {
	.userinput label::before {
		left: 22px;
	}
	.userinput .selected {
		&::after {
			left: 22px;
		}
	}
}

@media (max-width: 610px) {
	.userinput label::before {
		left: 20px;
	}
	.userinput .selected {
		&::after {
			left: 20px;
		}
	}
}

//******************************
//Media Queries Styles
//******************************

@media (max-width: 1044px) {

	.userinput label::before {
		left: 44px;
	}
	.userinput .selected {
		&::after {
			left: 44px;
		}
	}
}


@media (max-width: 1043px) {
	.userinput label::before {
		left: 49px;
	}
	.userinput .selected {
		&::after {
			left: 49px;
		}
	}
}

@media (max-width: 1005px) {
	.userinput label::before {
		left: 47px;
	}
	.userinput .selected {
		&::after {
			left: 47px;
		}
	}
}

@media (max-width: 944px) {
	.userinput label::before {
		left: 43px;
	}
	.userinput .selected {
		&::after {
			left: 43px;
		}
	}
}

@media (max-width: 884px) {
	.userinput label::before {
		left: 38px;
	}
	.userinput .selected {
		&::after {
			left: 38px;
		}
	}
}

@media (max-width: 845px) {
	.userinput label::before {
		left: 36px;
	}
	.userinput .selected {
		&::after {
			left: 36px;
		}
	}
}

@media (max-width: 845px) {
	.userinput label::before {
		left: 34px;
	}
	.userinput .selected {
		&::after {
			left: 34px;
		}
	}
}

@media (max-width: 768px) {
	.userinput label::before {
		left: 30px;
	}
	.userinput .selected {
		&::after {
			left: 30px;
		}
	}
}

@media (max-width: 685px) {
	.userinput label::before {
		left: 26px;
	}
	.userinput .selected {
		&::after {
			left: 26px;
		}
	}
}

@media (max-width: 650px) {
	.userinput label::before {
		left: 22px;
	}
	.userinput .selected {
		&::after {
			left: 22px;
		}
	}
}

@media (max-width: 640px) {
	.userinput input[type=text], 
	.userinput input[type=submit] {
		width: 55%;
	}
}

@media (max-width: 610px) {
	.userinput label::before {
		left: 20px;
	}
	.userinput .selected {
		&::after {
			left: 20px;
		}
	}
}


@media (max-width: 560px) {
	.userinput label::before {
		left: 17px;
	}
	.userinput .selected {
		&::after {
			left: 17px;
		}
	}
}

@media (max-width: 540px) {
	label {
		margin:0 10px 0;
	}
	
	.userinput label::before {
		left: 17px;
	}
	.userinput .selected {
		&::after {
			left: 17px;
		}
	}
}

@media (max-width: 520px) {
	.userinput label::before {
		left: 14px;
	}
	.userinput .selected {
		&::after {
			left: 14px;
		}
	}
}

@media (max-width: 495px) {
	.userinput input[type=text], 
	.userinput input[type=submit] {
		width: 65%;
	}
}

@media (max-width: 480px) {
	.userinput label::before {
		left: 10px;
	}
	.userinput .selected {
		&::after {
			left: 10px;
		}
	}
}

@media (max-width: 445px) {
	label[for=hard] {
		margin-left: 20px;
	}

	.userinput label::before {
		left: 10px;
	}
	.userinput .selected {
		&::after {
			left: 10px;
		}
	}
}

@media(max-width: 430px) {
	.userinput input[type=text], 
	.userinput input[type=submit] {
		width: 80%;
		margin-left: 0;
		margin-right: 0;
	}
}

@media (max-width: 400px) {
	.userinput label::before {
		left: 8px;
	}
	.userinput .selected {
		&::after {
			left: 8px;
		}
	}
}

@media (max-width: 365px) {
	label {
		margin: 0 20px 0;
	}

	.userinput label::before {
		left: 8px;
	}
	.userinput .selected {
		&::after {
			left: 8px;
		}
	}
}

@media (max-width: 365px) {
	label {
		margin: 0 10px 0;
	}

	.userinput label::before {
		left: 4px;
	}
	.userinput .selected {
		&::after {
			left: 4px;
		}
	}
}

