// color variable
$white: #F5F5F5;
$blue: #016FB9;
$red: #EC4E20; 
$yellow: #FF9505;
$resultsBlue: rgba(1,111,185,0.5);
$resultsRed: rgba(236,78,32, 0.5);
$resultsYellow: rgba(255,149,5,0.5);


.wrapper {
	max-width: 980px;
	margin: 0 auto;
	font-family: "Lato";
}

.background {
	width: 100%;
	background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.3)), url("../images/heroImageLarge.jpg"), linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.3));
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
	padding: 2rem;
	color: #fff;
}

@import "_normalize";
@import "_typo";
@import "_header";
@import "_userinput";
@import "_results";
@import "_footer";

//******************************
//Media Queries Styles
//******************************

// Landscape phone to portrait table-layout
@media (max-width: 940px) {
	.background {
		background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.3)), url("../images/heroImageMedium.jpg"), linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.3));
	}
	.results {
		.songInfo {
		flex: 1 0 50%;
		}
	}
}

// Landscape phones and down
@media (max-width: 767px) {
	.background {
		background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.3)), url("../images/heroImageSmall.jpg"), linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.3));
	}
}

//Portrait phones and down
@media (max-width: 480px) {
	.background {
		background-size: cover;
	}
	.results {
		.songInfo {
		flex: 1 0 100%;
		}
	}
}
